

.slider{
    width: 16.2%;
    box-shadow: 0 0 20px #0000001a;
    background-color: #ffffff5d;
    
    text-align: center;
    height: auto;
   
}

.slider-title{
    padding-top:15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #80bee2;
    margin: 0  35px;
    font-size: 19px;
    font-weight: 500;
}

.slider-content{
    padding-top: 10px;
    
    
}
.slider-active{
    background-color: green;
    border-radius: 50px;
    height: 13px;
    width: 13px;
    position: absolute;
    top:21%;
    left:-21px;
}
.slider-text{
    position: relative;
  margin: 15px 30px;
  font-weight: 400;
  font-size: 15px;
  display: flex;
}

.slider-text>p{
    margin-top:3px;
    margin-left: 12px;
}
@media (max-width: 1260px){
    .slider{
        display:none;
    }
}